<app-navbar/>

<div class="flex justify-end mt-20">
  <div class="text-left pr-90">
    <h2 class="text-5xl font-semibold text-red-700 tracking-wide">
      CALENDARIO <span class="text-gray-500 italic">2025</span>
    </h2>
    <h1 class="text-5xl font-light text-black text-end">Marzo</h1>
  </div>
</div>

<div class="flex justify-center items-center min-h-screen">
  <div class="wrapper bg-white rounded shadow w-full max-w-6xl mx-auto p-4">
    <table class="w-full">
      <thead>
      <tr>
        <th class="p-2 border-r h-10 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 xl:text-sm text-xs">
          <span class="xl:block lg:block md:block sm:block hidden">Sunday</span>
          <span class="xl:hidden lg:hidden md:hidden sm:hidden block">Sun</span>
        </th>
        <th class="p-2 border-r h-10 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 xl:text-sm text-xs">
          <span class="xl:block lg:block md:block sm:block hidden">Monday</span>
          <span class="xl:hidden lg:hidden md:hidden sm:hidden block">Mon</span>
        </th>
        <th class="p-2 border-r h-10 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 xl:text-sm text-xs">
          <span class="xl:block lg:block md:block sm:block hidden">Tuesday</span>
          <span class="xl:hidden lg:hidden md:hidden sm:hidden block">Tue</span>
        </th>
        <th class="p-2 border-r h-10 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 xl:text-sm text-xs">
          <span class="xl:block lg:block md:block sm:block hidden">Wednesday</span>
          <span class="xl:hidden lg:hidden md:hidden sm:hidden block">Wed</span>
        </th>
        <th class="p-2 border-r h-10 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 xl:text-sm text-xs">
          <span class="xl:block lg:block md:block sm:block hidden">Thursday</span>
          <span class="xl:hidden lg:hidden md:hidden sm:hidden block">Thu</span>
        </th>
        <th class="p-2 border-r h-10 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 xl:text-sm text-xs">
          <span class="xl:block lg:block md:block sm:block hidden">Friday</span>
          <span class="xl:hidden lg:hidden md:hidden sm:hidden block">Fri</span>
        </th>
        <th class="p-2 border-r h-10 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 xl:text-sm text-xs">
          <span class="xl:block lg:block md:block sm:block hidden">Saturday</span>
          <span class="xl:hidden lg:hidden md:hidden sm:hidden block">Sat</span>
        </th>
      </tr>
      </thead>

      <tbody>
      <tr class="text-center h-20">
        <td
          class="border p-1 h-40 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-auto transition cursor-pointer duration-500 ease hover:bg-gray-300 ">
          <div class="flex flex-col h-40 mx-auto xl:w-40 lg:w-30 md:w-30 sm:w-full w-10 mx-auto overflow-hidden">
            <div class="top h-5 w-full">
              <span class="text-gray-500">1</span>
            </div>
            <div class="bottom flex-grow h-30 py-1 w-full cursor-pointer">
              <div
                class="event bg-red-700 text-white rounded p-1 text-sm mb-1"
              >
                        <span class="event-name">
                          Meeting
                        </span>
                <span class="time">
                          12:00~14:00
                        </span>
              </div>
            </div>
          </div>
        </td>
        <td
          class="border p-1 h-40 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-auto transition cursor-pointer duration-500 ease hover:bg-gray-300">
          <div class="flex flex-col h-40 mx-auto xl:w-40 lg:w-30 md:w-30 sm:w-full w-10 mx-auto overflow-hidden">
            <div class="top h-5 w-full">
              <span class="text-gray-500">2</span>
            </div>
            <div class="bottom flex-grow h-30 py-1 w-full cursor-pointer"></div>
          </div>
        </td>
        <td
          class="border p-1 h-40 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-auto transition cursor-pointer duration-500 ease hover:bg-gray-300">
          <div class="flex flex-col h-40 mx-auto xl:w-40 lg:w-30 md:w-30 sm:w-full w-10 mx-auto overflow-hidden">
            <div class="top h-5 w-full">
              <span class="text-gray-500">3</span>
            </div>
            <div class="bottom flex-grow h-30 py-1 w-full cursor-pointer"></div>
          </div>
        </td>
        <td
          class="border p-1 h-40 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-auto transition cursor-pointer duration-500 ease hover:bg-gray-300">
          <div class="flex flex-col h-40 mx-auto xl:w-40 lg:w-30 md:w-30 sm:w-full w-10 mx-auto overflow-hidden">
            <div class="top h-5 w-full">
              <span class="text-gray-500">4</span>
            </div>
            <div class="bottom flex-grow h-30 py-1 w-full cursor-pointer"></div>
          </div>
        </td>
        <td
          class="border p-1 h-40 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-auto transition cursor-pointer duration-500 ease hover:bg-gray-300">
          <div class="flex flex-col h-40 mx-auto xl:w-40 lg:w-30 md:w-30 sm:w-full w-10 mx-auto overflow-hidden">
            <div class="top h-5 w-full">
              <span class="text-gray-500">6</span>
            </div>
            <div class="bottom flex-grow h-30 py-1 w-full cursor-pointer"></div>
          </div>
        </td>
        <td
          class="border p-1 h-40 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-hidden transition cursor-pointer duration-500 ease hover:bg-gray-300">
          <div class="flex flex-col h-40 mx-auto xl:w-40 lg:w-30 md:w-30 sm:w-full w-10 mx-auto overflow-hidden">
            <div class="top h-5 w-full">
              <span class="text-gray-500">7</span>
            </div>
            <div class="bottom flex-grow h-30 py-1 w-full cursor-pointer">
              <div
                class="event bg-red-700 text-white rounded p-1 text-sm mb-1"
              >
                        <span class="event-name">
                          Shopping
                        </span>
                <span class="time">
                          12:00~14:00
                        </span>
              </div>
            </div>
          </div>
        </td>
        <td
          class="border p-1 h-40 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-auto transition cursor-pointer duration-500 ease hover:bg-gray-300">
          <div class="flex flex-col h-40 mx-auto xl:w-40 lg:w-30 md:w-30 sm:w-full w-10 mx-auto overflow-hidden">
            <div class="top h-5 w-full">
              <span class="text-gray-500 text-sm">8</span>
            </div>
            <div class="bottom flex-grow h-30 py-1 w-full cursor-pointer"></div>
          </div>
        </td>
      </tr>

      <!--         line 1 -->
      <tr class="text-center h-20">
        <td
          class="border p-1 h-40 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-auto transition cursor-pointer duration-500 ease hover:bg-gray-300">
          <div class="flex flex-col h-40 mx-auto xl:w-40 lg:w-30 md:w-30 sm:w-full w-10 mx-auto overflow-hidden">
            <div class="top h-5 w-full">
              <span class="text-gray-500">9</span>
            </div>
            <div class="bottom flex-grow h-30 py-1 w-full cursor-pointer"></div>
          </div>
        </td>
        <td
          class="border p-1 h-40 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-auto transition cursor-pointer duration-500 ease hover:bg-gray-300">
          <div class="flex flex-col h-40 mx-auto xl:w-40 lg:w-30 md:w-30 sm:w-full w-10 mx-auto overflow-hidden">
            <div class="top h-5 w-full">
              <span class="text-gray-500">10</span>
            </div>
            <div class="bottom flex-grow h-30 py-1 w-full cursor-pointer"></div>
          </div>
        </td>
        <td
          class="border p-1 h-40 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-auto transition cursor-pointer duration-500 ease hover:bg-gray-300">
          <div class="flex flex-col h-40 mx-auto xl:w-40 lg:w-30 md:w-30 sm:w-full w-10 mx-auto overflow-hidden">
            <div class="top h-5 w-full">
              <span class="text-gray-500">12</span>
            </div>
            <div class="bottom flex-grow h-30 py-1 w-full cursor-pointer"></div>
          </div>
        </td>
        <td
          class="border p-1 h-40 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-auto transition cursor-pointer duration-500 ease hover:bg-gray-300">
          <div class="flex flex-col h-40 mx-auto xl:w-40 lg:w-30 md:w-30 sm:w-full w-10 mx-auto overflow-hidden">
            <div class="top h-5 w-full">
              <span class="text-gray-500">13</span>
            </div>
            <div class="bottom flex-grow h-30 py-1 w-full cursor-pointer"></div>
          </div>
        </td>
        <td
          class="border p-1 h-40 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-auto transition cursor-pointer duration-500 ease hover:bg-gray-300">
          <div class="flex flex-col h-40 mx-auto xl:w-40 lg:w-30 md:w-30 sm:w-full w-10 mx-auto overflow-hidden">
            <div class="top h-5 w-full">
              <span class="text-gray-500">14</span>
            </div>
            <div class="bottom flex-grow h-30 py-1 w-full cursor-pointer"></div>
          </div>
        </td>
        <td
          class="border p-1 h-40 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-auto transition cursor-pointer duration-500 ease hover:bg-gray-300">
          <div class="flex flex-col h-40 mx-auto xl:w-40 lg:w-30 md:w-30 sm:w-full w-10 mx-auto overflow-hidden">
            <div class="top h-5 w-full">
              <span class="text-gray-500">15</span>
            </div>
            <div class="bottom flex-grow h-30 py-1 w-full cursor-pointer"></div>
          </div>
        </td>
        <td
          class="border p-1 h-40 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-auto transition cursor-pointer duration-500 ease hover:bg-gray-300">
          <div class="flex flex-col h-40 mx-auto xl:w-40 lg:w-30 md:w-30 sm:w-full w-10 mx-auto overflow-hidden">
            <div class="top h-5 w-full">
              <span class="text-gray-500 text-sm">16</span>
            </div>
            <div class="bottom flex-grow h-30 py-1 w-full cursor-pointer"></div>
          </div>
        </td>
      </tr>
      <!--         line 1 -->

      <!--         line 2 -->
      <tr class="text-center h-20">
        <td
          class="border p-1 h-40 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-auto transition cursor-pointer duration-500 ease hover:bg-gray-300">
          <div class="flex flex-col h-40 mx-auto xl:w-40 lg:w-30 md:w-30 sm:w-full w-10 mx-auto overflow-hidden">
            <div class="top h-5 w-full">
              <span class="text-gray-500">16</span>
            </div>
            <div class="bottom flex-grow h-30 py-1 w-full cursor-pointer"></div>
          </div>
        </td>
        <td
          class="border p-1 h-40 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-auto transition cursor-pointer duration-500 ease hover:bg-gray-300">
          <div class="flex flex-col h-40 mx-auto xl:w-40 lg:w-30 md:w-30 sm:w-full w-10 mx-auto overflow-hidden">
            <div class="top h-5 w-full">
              <span class="text-gray-500">17</span>
            </div>
            <div class="bottom flex-grow h-30 py-1 w-full cursor-pointer"></div>
          </div>
        </td>
        <td
          class="border p-1 h-40 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-auto transition cursor-pointer duration-500 ease hover:bg-gray-300">
          <div class="flex flex-col h-40 mx-auto xl:w-40 lg:w-30 md:w-30 sm:w-full w-10 mx-auto overflow-hidden">
            <div class="top h-5 w-full">
              <span class="text-gray-500">18</span>
            </div>
            <div class="bottom flex-grow h-30 py-1 w-full cursor-pointer"></div>
          </div>
        </td>
        <td
          class="border p-1 h-40 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-auto transition cursor-pointer duration-500 ease hover:bg-gray-300">
          <div class="flex flex-col h-40 mx-auto xl:w-40 lg:w-30 md:w-30 sm:w-full w-10 mx-auto overflow-hidden">
            <div class="top h-5 w-full">
              <span class="text-gray-500">19</span>
            </div>
            <div class="bottom flex-grow h-30 py-1 w-full cursor-pointer"></div>
          </div>
        </td>
        <td
          class="border p-1 h-40 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-auto transition cursor-pointer duration-500 ease hover:bg-gray-300">
          <div class="flex flex-col h-40 mx-auto xl:w-40 lg:w-30 md:w-30 sm:w-full w-10 mx-auto overflow-hidden">
            <div class="top h-5 w-full">
              <span class="text-gray-500">20</span>
            </div>
            <div class="bottom flex-grow h-30 py-1 w-full cursor-pointer"></div>
          </div>
        </td>
        <td
          class="border p-1 h-40 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-auto transition cursor-pointer duration-500 ease hover:bg-gray-300">
          <div class="flex flex-col h-40 mx-auto xl:w-40 lg:w-30 md:w-30 sm:w-full w-10 mx-auto overflow-hidden">
            <div class="top h-5 w-full">
              <span class="text-gray-500">21</span>
            </div>
            <div class="bottom flex-grow h-30 py-1 w-full cursor-pointer"></div>
          </div>
        </td>
        <td
          class="border p-1 h-40 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-auto transition cursor-pointer duration-500 ease hover:bg-gray-300">
          <div class="flex flex-col h-40 mx-auto xl:w-40 lg:w-30 md:w-30 sm:w-full w-10 mx-auto overflow-hidden">
            <div class="top h-5 w-full">
              <span class="text-gray-500 text-sm">22</span>
            </div>
            <div class="bottom flex-grow h-30 py-1 w-full cursor-pointer"></div>
          </div>
        </td>
      </tr>
      <!--         line 2 -->

      <!--         line 3 -->
      <tr class="text-center h-20">
        <td
          class="border p-1 h-40 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-auto transition cursor-pointer duration-500 ease hover:bg-gray-300">
          <div class="flex flex-col h-40 mx-auto xl:w-40 lg:w-30 md:w-30 sm:w-full w-10 mx-auto overflow-hidden">
            <div class="top h-5 w-full">
              <span class="text-gray-500">23</span>
            </div>
            <div class="bottom flex-grow h-30 py-1 w-full cursor-pointer"></div>
          </div>
        </td>
        <td
          class="border p-1 h-40 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-auto transition cursor-pointer duration-500 ease hover:bg-gray-300">
          <div class="flex flex-col h-40 mx-auto xl:w-40 lg:w-30 md:w-30 sm:w-full w-10 mx-auto overflow-hidden">
            <div class="top h-5 w-full">
              <span class="text-gray-500">24</span>
            </div>
            <div class="bottom flex-grow h-30 py-1 w-full cursor-pointer"></div>
          </div>
        </td>
        <td
          class="border p-1 h-40 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-auto transition cursor-pointer duration-500 ease hover:bg-gray-300">
          <div class="flex flex-col h-40 mx-auto xl:w-40 lg:w-30 md:w-30 sm:w-full w-10 mx-auto overflow-hidden">
            <div class="top h-5 w-full">
              <span class="text-gray-500">25</span>
            </div>
            <div class="bottom flex-grow h-30 py-1 w-full cursor-pointer"></div>
          </div>
        </td>
        <td
          class="border p-1 h-40 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-auto transition cursor-pointer duration-500 ease hover:bg-gray-300">
          <div class="flex flex-col h-40 mx-auto xl:w-40 lg:w-30 md:w-30 sm:w-full w-10 mx-auto overflow-hidden">
            <div class="top h-5 w-full">
              <span class="text-gray-500">26</span>
            </div>
            <div class="bottom flex-grow h-30 py-1 w-full cursor-pointer"></div>
          </div>
        </td>
        <td
          class="border p-1 h-40 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-auto transition cursor-pointer duration-500 ease hover:bg-gray-300">
          <div class="flex flex-col h-40 mx-auto xl:w-40 lg:w-30 md:w-30 sm:w-full w-10 mx-auto overflow-hidden">
            <div class="top h-5 w-full">
              <span class="text-gray-500">27</span>
            </div>
            <div class="bottom flex-grow h-30 py-1 w-full cursor-pointer"></div>
          </div>
        </td>
        <td
          class="border p-1 h-40 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-auto transition cursor-pointer duration-500 ease hover:bg-gray-300">
          <div class="flex flex-col h-40 mx-auto xl:w-40 lg:w-30 md:w-30 sm:w-full w-10 mx-auto overflow-hidden">
            <div class="top h-5 w-full">
              <span class="text-gray-500">28</span>
            </div>
            <div class="bottom flex-grow h-30 py-1 w-full cursor-pointer"></div>
          </div>
        </td>
        <td
          class="border p-1 h-40 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-auto transition cursor-pointer duration-500 ease hover:bg-gray-300">
          <div class="flex flex-col h-40 mx-auto xl:w-40 lg:w-30 md:w-30 sm:w-full w-10 mx-auto overflow-hidden">
            <div class="top h-5 w-full">
              <span class="text-gray-500 text-sm">29</span>
            </div>
            <div class="bottom flex-grow h-30 py-1 w-full cursor-pointer"></div>
          </div>
        </td>
      </tr>
      <!--         line 3 -->

      <!--         line 4 -->
      <tr class="text-center h-20">
        <td
          class="border p-1 h-40 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-auto transition cursor-pointer duration-500 ease hover:bg-gray-300">
          <div class="flex flex-col h-40 mx-auto xl:w-40 lg:w-30 md:w-30 sm:w-full w-10 mx-auto overflow-hidden">
            <div class="top h-5 w-full">
              <span class="text-gray-500">30</span>
            </div>
            <div class="bottom flex-grow h-30 py-1 w-full cursor-pointer"></div>
          </div>
        </td>
        <td
          class="border p-1 h-40 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-auto transition cursor-pointer duration-500 ease hover:bg-gray-300">
          <div class="flex flex-col h-40 mx-auto xl:w-40 lg:w-30 md:w-30 sm:w-full w-10 mx-auto overflow-hidden">
            <div class="top h-5 w-full">
              <span class="text-gray-500">31</span>
            </div>
            <div class="bottom flex-grow h-30 py-1 w-full cursor-pointer"></div>
          </div>
        </td>
        <td
          class="border bg-gray-100 p-1 h-40 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-auto transition cursor-pointer duration-500 ease hover:bg-gray-300">
          <div class="flex flex-col h-40 mx-auto xl:w-40 lg:w-30 md:w-30 sm:w-full w-10 mx-auto overflow-hidden">
            <div class="top h-5 w-full">
              <span class="text-gray-500">1</span>
            </div>
            <div class="bottom flex-grow h-30 py-1 w-full cursor-pointer"></div>
          </div>
        </td>
        <td
          class="border bg-gray-100 p-1 h-40 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-auto transition cursor-pointer duration-500 ease hover:bg-gray-300">
          <div class="flex flex-col h-40 mx-auto xl:w-40 lg:w-30 md:w-30 sm:w-full w-10 mx-auto overflow-hidden">
            <div class="top h-5 w-full">
              <span class="text-gray-500">2</span>
            </div>
            <div class="bottom flex-grow h-30 py-1 w-full cursor-pointer"></div>
          </div>
        </td>
        <td
          class="border bg-gray-100 p-1 h-40 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-auto transition cursor-pointer duration-500 ease hover:bg-gray-300">
          <div class="flex flex-col h-40 mx-auto xl:w-40 lg:w-30 md:w-30 sm:w-full w-10 mx-auto overflow-hidden">
            <div class="top h-5 w-full">
              <span class="text-gray-500">3</span>
            </div>
            <div class="bottom flex-grow h-30 py-1 w-full cursor-pointer"></div>
          </div>
        </td>
        <td
          class="border bg-gray-100 p-1 h-40 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-auto transition cursor-pointer duration-500 ease hover:bg-gray-300">
          <div class="flex flex-col h-40 mx-auto xl:w-40 lg:w-30 md:w-30 sm:w-full w-10 mx-auto overflow-hidden">
            <div class="top h-5 w-full">
              <span class="text-gray-500">4</span>
            </div>
            <div class="bottom flex-grow h-30 py-1 w-full cursor-pointer"></div>
          </div>
        </td>
        <td
          class="border bg-gray-100 p-1 h-40 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-auto transition cursor-pointer duration-500 ease hover:bg-gray-300">
          <div class="flex flex-col h-40 mx-auto xl:w-40 lg:w-30 md:w-30 sm:w-full w-10 mx-auto overflow-hidden">
            <div class="top h-5 w-full">
              <span class="text-gray-500 text-sm">5</span>
            </div>
            <div class="bottom flex-grow h-30 py-1 w-full cursor-pointer"></div>
          </div>
        </td>
      </tr>
      </tbody>

    </table>
  </div>
</div>

<div class="p-60 bg-gradient-to-b from-white to-gray-300 p-8 rounded-lg">
  <h2 class="text-3xl font-extrabold text-black">EVENTOS</h2>
  <h2 class="text-3xl font-extrabold text-red-700">ANTERIORES</h2>

  <div class="mt-4">
    <p class="text-lg text-black">
      <span class="font-semibold">20 de enero/ 10:00am</span>
    </p>
    <p class="text-lg font-bold text-red-700">
      Perspectivas de la tierra común:
    </p>
    <p class="text-lg italic text-red-500">
      desarrollo de una comprensión sistemática del cambio climático
    </p>
  </div>

  <p class="mt-4 text-gray-700 text-justify">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
    laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
    ullamcorper suscipit lobortis nisl ut aliquip ex ea.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
    laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
    ullamcorper suscipit lobortis nisl ut aliquip ex ea.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
    laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
    ullamcorper suscipit lobortis nisl ut aliquip ex ea.
  </p>
</div>

<div class="pr-60 pl-60 pb-60 bg-gray-300 p-8 rounded-lg">
  <h2 class="text-3xl font-extrabold text-black">EVENTOS</h2>
  <h2 class="text-3xl font-extrabold text-red-700">ANTERIORES</h2>

  <div class="mt-4">
    <p class="text-lg text-black">
      <span class="font-semibold">20 de enero/ 10:00am</span>
    </p>
    <p class="text-lg font-bold text-red-700">
      Perspectivas de la tierra común:
    </p>
    <p class="text-lg italic text-red-500">
      desarrollo de una comprensión sistemática del cambio climático
    </p>
  </div>

  <p class="mt-4 text-gray-700 text-justify">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
    laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
    ullamcorper suscipit lobortis nisl ut aliquip ex ea.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
    laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
    ullamcorper suscipit lobortis nisl ut aliquip ex ea.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
    laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
    ullamcorper suscipit lobortis nisl ut aliquip ex ea.
  </p>
</div>

<app-footer/>
