<app-navbar/>
<div class="flex flex-col md:flex-row items-center justify-center min-h-150 bg-gray-300 p-10 gap-6">
  <div class="w-full md:w-100 p-2 z-10">
    <img src="assets/img/002.webp"
         alt="Reunión de trabajo" class="rounded-lg border-8 border-white shadow-2xl w-full"/>
  </div>
  <div
    class="w-full min-h-100 md:w-2/3 bg-white p-8 rounded-2xl shadow-lg relative -ml-10 flex flex-col justify-center h-full">
    <h2 class="text-5xl font-extrabold text-red-700 text-center">¿QUIÉNES SOMOS?</h2>
    <p class="text-gray-600 text-lg text-center">Asociación Colombiana Dinámica de Sistemas</p>
    <p class="mt-4 text-gray-700 text-justify">
      La Asociación Colombiana de Dinámica de Sistemas (ACDS) es una organización sin ánimo de lucro conformada por
      profesionales, académicos, investigadores y estudiantes apasionados por la aplicación y promoción de la Dinámica
      de Sistemas en Colombia y la región. Nuestro objetivo es fomentar el entendimiento y la solución de problemas
      complejos a través de este enfoque metodológico, que integra herramientas analíticas y creativas para modelar y
      simular sistemas en constante cambio.
    </p>
  </div>
</div>
<div class="bg-gradient-to-b from-gray-300 to-gray-10 p-30 text-center">
  <div class="text-left pl-20">
    <div class="relative inline-block">
      <h2 class="relative text-5xl font-bold text-white uppercase mb-5 z-10">Lo conforman</h2>
      <div class="absolute left-0 bottom-0 w-130 h-10 bg-red-700"></div>
    </div>
  </div>
  <div class="flex justify-center gap-20 mt-10">
    <div class="relative rounded-lg shadow-lg w-80 flex flex-col items-center overflow-hidden">
      <img src="assets/img/user.webp"
           alt="" class="rounded-tl-xl rounded-tr-xl w-full">
      <div
        class="absolute inset-0 bg-black bg-opacity-75 text-white flex flex-col items-center justify-center p-4 opacity-0 hover:opacity-70 transition-opacity duration-200">
        <p class="text-lg font-bold">Nombre</p>
        <p class="text-sm">Profesión</p>
        <p class="text-xs text-center mt-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente
          sed, eos minima iste aspernatur recusandae assumenda harum architecto asperiores aut ipsa eum animi
          totam culpa voluptas doloribus vitae fuga commodi.</p>
      </div>
    </div>
    <div class="relative rounded-lg shadow-lg w-80 flex flex-col items-center overflow-hidden">
      <img src="assets/img/user.webp"
           alt="" class="rounded-tl-xl rounded-tr-xl w-full">
      <div
        class="absolute inset-0 bg-black bg-opacity-75 text-white flex flex-col items-center justify-center p-4 opacity-0 hover:opacity-70 transition-opacity duration-200">
        <p class="text-lg font-bold">Nombre</p>
        <p class="text-sm">Profesión</p>
        <p class="text-xs text-center mt-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente
          sed, eos minima iste aspernatur recusandae assumenda harum architecto asperiores aut ipsa eum animi
          totam culpa voluptas doloribus vitae fuga commodi.</p>
      </div>
    </div>
    <div class="relative rounded-lg shadow-lg w-80 flex flex-col items-center overflow-hidden">
      <img src="assets/img/user.webp"
           alt="" class="rounded-tl-xl rounded-tr-xl w-full">
      <div
        class="absolute inset-0 bg-black bg-opacity-75 text-white flex flex-col items-center justify-center p-4 opacity-0 hover:opacity-70 transition-opacity duration-200">
        <p class="text-lg font-bold">Nombre</p>
        <p class="text-sm">Profesión</p>
        <p class="text-xs text-center mt-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente
          sed, eos minima iste aspernatur recusandae assumenda harum architecto asperiores aut ipsa eum animi
          totam culpa voluptas doloribus vitae fuga commodi.</p>
      </div>
    </div>
  </div>
</div>
<div class="flex flex-col md:flex-row items-center justify-center gap-10 p-10">
  <div class="relative  w-170">
    <img src="assets/img/003.webp"
         alt="Noticia principal" class="rounded-lg shadow-lg">
    <div class="absolute bottom-5 left-5 text-white">
      <h3 class="text-2xl font-bold">INFORMATE</h3>
      <p class="text-sm">LEE MAS ▼</p>
    </div>
  </div>
  <div class="flex flex-col items-end w-130 ">
    <h2 class="text-6xl font-bold">
      INFORMATE <br><span class="italic font-light">EN NOTICIAS</span>
    </h2>
    <p class="text-red-600 text-lg">05/03/25</p>
    <div class="relative mt-4 ">
      <img src="assets/img/004.webp"
           alt="Noticia secundaria" class="rounded-lg shadow-lg w-120">
      <div class="absolute bottom-3 left-3 text-white">
        <h3 class="text-lg font-bold">INFORMATE</h3>
        <p class="text-xs">LEE MAS ▼</p>
      </div>
    </div>
  </div>
</div>
<div
  class="relative mt-20 w-[90%] h-[500px] flex items-center overflow-hidden rounded-tr-[30px] rounded-br-[30px] mr-auto">
  <img src="assets/img/005.webp"
       alt="Misión" class="absolute w-full h-full object-cover">
  <div
    class="relative z-10 max-w-lg text-white p-10 bg-gray-700 bg-opacity-90 rounded-tr-[40px] rounded-br-[40px] backdrop-blur-md">
    <h2 class="text-5xl font-extrabold">NUESTRA <span class="italic font-light">MISIÓN</span></h2>
    <p class="mt-4 text-lg leading-relaxed">
      Promover el uso de la Dinámica de Sistemas como disciplina clave para abordar desafíos sociales,
      económicos y ambientales en Colombia. Buscamos generar espacios de aprendizaje, investigación y
      colaboración que impulsen soluciones integrales y sostenibles.
    </p>
  </div>
</div>
<div
  class="relative mt-20 mb-20 ml-auto w-[90%] h-[500px] flex items-center justify-end overflow-hidden rounded-tl-[30px] rounded-bl-[30px]">
  <img src="assets/img/006.webp"
       alt="Misión" class="absolute w-full h-full object-cover">
  <div
    class="relative z-10 max-w-lg text-white p-10 bg-gray-700 bg-opacity-90 rounded-tl-[40px] rounded-bl-[40px] backdrop-blur-md">
    <h2 class="text-5xl font-extrabold">
      NUESTRA <span class="italic font-light">VISIÓN</span>
    </h2>
    <p class="mt-4 text-lg leading-relaxed">
      Ser referente líder en la aplicación de la Dinámica de Sistemas en América Latina, contribuyendo a la
      formación de capacidades locales y al diseño de políticas públicas y estrategias organizacionales
      basadas en evidencia y pensamiento sistémico.
    </p>
  </div>
</div>
<app-footer/>
